---
- name: Setup Dev Environment
  hosts: localhost
  gather_facts: true
  vars:
    home_dir: "{{ lookup('env', 'HOME') }}"
    tmp_dir: "{{ home_dir }}/Tmp"
    neovim_repo: "{{ home_dir }}/Tmp/repos/neovim"
    
  tasks:
    - name: Ubuntu
      include_tasks: ubuntu/main.yml
      when: ansible_facts['distribution'] == "Ubuntu"
   
    - name: theming
      include_tasks: ./theming/nerdfont.yml
